.btn{

    $root: &;

    background-color: transparent;
    border-width: 0px;
    @include font-style(15px, 700);
    border-radius: 5px;
    cursor: pointer;
    color: $light_1;
    padding: 12px 30px;

    &--secondary{
        background-color: $red_1;
        color: white;
        border: 1px solid $red_1;
        &#{$root}{

            &--only-border{
                background-color: transparent !important;
                border: 1px solid $red_1;
                color: $red_1;
            }

        }
    }

    &--light{
        background-color: $light_1;
        color: $red_1;
        border: 1px solid $light_1;
        &#{$root}{

            &--only-border{
                background-color: transparent !important;
                border: 1px solid $light_1;
                color: $light_1;
            }

        }
    }

}