.section-margin{
    .responsive-table{
        margin-bottom: 30px;
    }
}

.currencies-table {
    width: 100%;
    text-align: left;
    @include font-calc(15px);
   
    $root: &;
    &--mini{
        @include font-calc(13px);
        
        #{$root}{
            &__header{
                padding: 7px 12px;
                @include font-style(13px,600);
            }

            &__cell{
                padding: 10px 12px;
            }
        }
    }

    &__header {

        $header_root : &;

        padding: 10px 15px;
        cursor: pointer;
        color: $light_1;
        background-color: $red_3;
       
        border: 1px solid $red_3;
        @include basic-transition;

        @include font-calc(15px);

        @include media-max($xs){
            @include font-calc(13px);
            padding: 10px ;

        }

        &:hover {
            background-color: $red_2;
        }

        &__sorter-icon{
            @include font-awesome;
            margin-left: 5px;
            visibility: hidden;
            transform-origin: 50%;
        }

        &.is-MIN, &.is-MAX{
            #{$header_root}{
                &__sorter-icon{ 
                    visibility:  visible;
                }
            } 
        }

       &.is-MIN{
            #{$header_root}{
                &__sorter-icon{ 
                    transform: rotate(180deg);
                }
            } 
        }
    }



        &__row {

            cursor: pointer;
            box-sizing: border-box;
            @include basic-transition;
            &:nth-child(even) {
                background-color: $light_2;
            }

            &:hover {
                @include bg-opacity($blue_1, .05);
              
            }

        }

        &__cell{
            box-sizing: border-box;
            padding: 20px 10px;

            @include font-style(14px, 600);

           
         
         
        }
    

}

