

.list-of-currencies{
    margin: 0;
    padding: 0;
    list-style: none;
  
    color: $dark_2;
    text-align: left;

    &__empty{
        padding: 20px;
        @include font-style(15px,600);
        color: $dark_2;
    }
    &__item{
        padding: 10px 15px;
        @include font-style(14px,600);
        cursor: pointer;

        @include basic-transition;

        &:nth-child(odd){
            background-color: $light_2;
        }

        &:hover{
            background-color: $red_2;
            color: white;
        }
    }

    
}