
.popular-currencies{
    @include pretty-shadow;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    &__title{
       
        @include font-style(18px, 700);
        display: inline-block;
        padding: 0 20px;
        margin: 0;
        border-bottom: 3px solid $red_2;
        
    }

    &__list{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__compared-to{
        background-color: $blue_3;
        display: inline-block;
        color: white;
        padding: 20px;
        margin: 20px 0;

        &__currency{
            margin: 0 20px;
            @include font-style(20px, 800);

        }

        .currency-changer{
            margin: 10px 0;
            display: inline-block;
        }



        


    }
}
