.section-switcher{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;

    background-color: $light_2;

    &__item{
        padding: 5px 10px;
        background-color: $dark_2;
        color: white;
        margin-right: 2px;
        @include font-style(15px, 500);
        cursor: pointer;
        @include basic-transition;

        &--is-activen, &:hover{
            background-color: $blue_3;
        }
        
        &:last-child{
            margin-right: 0;
        }
    }
}