body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: $light_1;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: $base_font_size;
    p{
        line-height: 1.9;
  
      

      
         @include font-style(16px,500);
         @include media-max( $sm){
 
             @include font-style(15px,500);
          }
     
      
     }
     
     ul,ol{
        @include font-style(16px,500);
      
         @include media-max( $sm){

            @include font-style(15px,500);
         }
        
        
         li{
            line-height: 1.9;
      
         }
     }


   

}

.responsive-table{
    overflow-x: auto;
    @include pretty-shadow;
}
*{
    outline: 0;
    box-sizing: border-box ;
}

.img-responsive{
    max-width: 100%;
    display: block;
}




h1{
    @include font-style(30px,700);
    margin: 30px 0;
    line-height: 1.5;

    @include media-max( $sm){
        @include font-calc(26px);
        
     }
}
h2{
    @include font-style(28px,700);
    margin: 30px 0;
    line-height: 1.7;
    @include media-max( $sm){
        @include font-calc(23px);
        
     }
}
h3{
    @include font-style(24px,700);
    margin: 26px 0;
    line-height: 1.7;
    @include media-max( $sm){
        @include font-calc(20px);
        
     }
}
h4{
    @include font-style(22px,700);
    margin: 26px 0;
    line-height: 1.8;
    @include media-max( $sm){
        @include font-calc(18px);
        
     }
}
h5{
    @include font-style(20px,700);
    margin: 20px 0;

    line-height: 1.9;
    @include media-max( $sm){
        @include font-calc(17px);
        
     }
}
h6{
    @include font-style(18px,700);
    margin: 20px 0;
    line-height: 2;
    @include media-max( $sm){
        @include font-calc(16px);
        
     }
}
