$xs: 480px;
$sm: 576px;
 $md: 768px;
 $lg: 992px;
 $xl: 1200px;



$base_font_size: 16px;


// colors:

    // blue

    $blue_1: #3500D3;
    $blue_2: #240090;
    $blue_3: #190051;
    $blue_4: #0c0032;

    // red

    $red_1: #c3073f;
    $red_2: #950740;
    $red_3: #6f2232;

    //dark

    $dark_1: #282828;
    $dark_2: #020202;
    $dark_3: #000000;

    //light

    $light_1: #ffffff;
    $light_2: #f2f2f2;
    $light_3: #000000;

 