
@import './global/mixins';
@import './global/variables';
@import './global/global';

@import '@fortawesome/fontawesome-free';
@import 'bootstrap-4-grid';
//components
@import './components/buttons';


@import './components/currencyConverter';
@import './components/currenciesTable';
@import './components/_popularCurrencies';
@import './components/_popularCurrency';
@import './components/_listOfCurrencies';
@import './components/_sectionSwitcher';
@import './components/_currencyChooser';
